.container-card-3{
   
    
    justify-content: center;
    align-items: center;
    display: flex;
    width: 28%;
    height: 100%;
    flex-direction: column;
    background-color: rgb(30, 33, 58);
   
   text-align: center;
}

.container-card-3:hover{-webkit-transform:scale(1.3);transform:scale(1.3);}



.container-card-3 > div > h3{
    font-size: 16px;
  position: relative;
  top:1rem;
    font-weight: 200;
   
}

.container-card-3 > div {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container-card-3 > div > h1{
    

        font-size: 25px;
      font-size: 1.3rem;
        display: flex;
        align-items: end;
        font-weight: 200;
       
    
}


.container-card-3 > div > div > h1{
    

    font-size: 26px;
  font-size: 1.3rem;
    display: flex;
     width: 5vw;  
     align-items: start;
     height: 2vw;
     font-size: 30px;
     justify-content: center;
    
}

.container-card-3 > div > div > h1>h2{

  
font-size: 16px;
font-weight: 200;
}


#navigation {
    font-size: 20px;
    background-color: rgb(63, 66, 87);
    border-radius: 100%;
    transform: rotate(-150deg);
    padding:5px;
    position: relative;
    
    
}

#navigation:hover{
    background-color: rgb(9, 173, 210);
}


@media (max-width:500px){

  .container-card-3{

    
    width: 70%;
  }

}