.container-modals{
   
    display: flex;
  
    height: 100%;
    
}

form > div{
 display: flex;
 gap:1.5rem;
 margin-bottom:  3rem;
}
.modal{
  
width: 21%;
background-color: rgb(30, 33, 58);
z-index: 999;
position: absolute;
background-color: rgb(30, 33, 58);
height: 97%;
padding-top: 1rem;
display: flex;
align-items: center;

flex-direction: column;


}

.modal > button {
    width: 3rem;
    position: relative;
    left: 40%;
    
    background-color:rgb(30, 33, 58) ;
    
}

.Btn-Search{
    border: none;
    height: 2.4vw;
   font-size: 13px;
    border-radius: 1px;
    background-color: rgb(60, 71, 233);

}

input{

   
    height: 2vw;

}

.modal > div > div{
    display: flex;
    gap:1rem;
  
}

.nav{
    width: 100%;
    display: flex;
    flex-direction: column;
   
}

.nav > img:first-child {
    width: 100%;
	height: 40%;
object-fit:cover;
    filter: brightness(35%);
    filter: opacity(9%);
    padding-top: 1.5rem;
}


.nav-Temperatura-titulo{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
   
}



.clima-titulo{

   padding: 1rem;
   font-size: 30px;
   
   
}

.nav-Temperatura-titulo > h1{
   
    font-size: 100px;
    display: flex;
    height: 5vw;
    justify-content: center;
    align-items: center;
}

.nav-Temperatura-titulo > h1 >h2{
 
    font-size: 25px;
    height: 100%;
    display: flex;
    align-items: end;
    font-weight: 200;
}


.elements-nav{
    
    display: flex
    ; flex-direction: column;
justify-content: center;
align-items: center;
z-index: 9;
position: absolute;
width: 20.5%;
padding-top: 2rem;
height: 90%;

}

.elements-nav > div > button:last-child{
   box-shadow: 4px 12px 16px 1px rgb(21, 21, 21);
    border-radius: 100%;
    width: 21%; 
    display: flex;
    justify-content: center;
align-items: center; 

background-color: rgb(111, 113, 124);
}


#btn-search-nav:hover{
background-color: rgb(40, 40, 40);
cursor: pointer;
}



.elements-nav > div {
    display: flex;
    gap: 1rem;
   
}

.elements-nav > h1{
    font-size: 60px;

}

.nube{
   position: relative;
   top:1rem;
    width: 60%;
   
}

.nube:hover{

    -webkit-transform:scale(1.3);transform:scale(1.3);
}



.container-btn-3{

  
    display: flex;
     flex-direction: column;
   
    height: 28vw;
    
   align-items: center;

}

.container-btn-3 > button {
  height: 10%;
  width: 100%;
  border-radius: 1px;
  border: solid 0.1px;    
  background-color: rgb(30, 33, 58);
  text-align: start;
  display: flex;
  justify-content: space-between;
}

.btn-gps{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 3vw;
    
    width: 3vw;
}

.btn-gps:hover{
background-color: rgb(40, 40, 40);
cursor: pointer;
}


.elements-nav > div > button {
   
   height: 2.5rem;
    border-radius: 1px;
    font-size: 13px;
}

.elements-nav > div:first-child  {
   
   align-items: center;
   display: flex;
   gap: 6rem;
}



#location:hover{

    color: brown;
    cursor: pointer;
}