.container-modals{
   
    display: flex;
   
    height: 100%;
}


.modal{
   
  width: 100%;
  background-color: rgb(30, 33, 58);
  display: flex;
  flex-direction: column;




}

.modal > div > div{
    display: flex;
    gap:1rem
}

.nav{
    width: 100%;
    display: flex;
    flex-direction: column;
   display: none;
}

.nav > img:first-child {
    width: 100%;
	height: 40%;
object-fit:cover;
    filter: brightness(35%);
    filter: opacity(9%);
    padding-top: 1.5rem;
}





.elements-nav{

    display: flex
    ; flex-direction: column;
justify-content: center;
align-items: center;
z-index: 9;
position: absolute;
width: 20.5%;
padding-top: 4rem;
height: 90%;
}



.elements-nav > div {
    display: flex;
    gap: 1rem;
}

.elements-nav > h1{
    font-size: 60px;
}
