.container-card-1{
   
    justify-content: center;
    align-items: center;
    display: flex;
    width: 60%;
     gap: 1.3rem;
    height: 9vw;
  

}

/*display no*/





.container-card-1 > * {

background-color:rgb(30, 33, 58);
height: 9vw;
width: 6.4vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}





.container-card-1 :hover{
    -webkit-transform:scale(1.3);transform:scale(1.3);}


.container-card-1 > h3{
    font-size: 11px;
}


.container-card-1 > img {
    width: 50px ;
    
    
}

.Temperatura{gap:1rem;
    display:flex;
    font-size: 10px;
    width: 70%;
    justify-content: center;

}

.Temperatura > h3{
      display: flex;
      height: 1rem;
      align-items: center; 
   
}

.Temperatura > h3 > h4 {
   font-size: 8px;
   font-weight: 200;
}

