.card1-container{
  
    width: 100%;
    height: 19%;
    display: flex;
    justify-content: center;

align-items: center;
text-align: center;



}

.cuerpo{
 
    width: 100%;
   
}

.primera-nav{
  display: flex;
  gap: 1rem;
    width: 83%;
    justify-content: end;
height: 6.5%;
  
  margin: 0.5rem;
}

/* aqui es */
.primera-nav > button{
border-radius: 100%;
background-color: rgb(88, 86, 118);
width: 3rem;
display: flex;
justify-content: center;
align-items: center;


}

.primera-nav >button:hover{
    background-color: rgb(43, 44, 45);
    font-weight: 800;
}



.card2-container{
    
    width: 100%;
    height: 67.5%;
    display: flex;
    justify-content: start;
    flex-direction: column;

gap: 2rem;
}

.card2-container > div {
   
 font-size: 16px;
position: relative;
top: 3vh;

}

.card2-container > div >h2{

    font-size: 1.1rem;
    position: relative;
    left: 12vw;
}

.ctn-c2{
    
    display: flex;
    justify-content: center;
    gap:2.5rem;
    
}

.ctn-c3{
  
    display: flex;
    justify-content: center;
    gap:3rem;
  
    height: 20%;
}

.cartas{
 
    height: 9vw;
    
}

.cartas > h3 {
  
    font-size: 12px;
}

.cartas > img {
   
    width: 50px;
}

.form-time{
    z-index: 999;
    background-color: rgb(30, 33, 58);
    height: 8vw;
}


@media (max-width:500px){


    .cuerpo{


        height: 300vh;
    }
    .primera-nav{
        height: 1.6%;
        padding: 1rem;
    }

    .card1-container{
       
        height: 90vh;
    
    }

    .card2-container{
  
  
     position: relative;
     top: 4rem;
     height: 180vh;
    }

    .card2-container > h2{

         
         display: flex;
         position: relative;
         width: 20%;
     

    }

    .ctn-c2{
      
        flex-direction: column;
        align-items: center;
        height: 70vh;
        
        
    }


    .ctn-c3{
     

       height: 50vh;
        flex-direction: column;
        align-items: center;
    }


    


}