.card1-container{
  
    width: 100%;
    height: 19%;
    display: flex;
    justify-content: center;
gap: 1.1rem;
}

.cuerpo{
 
    width: 100%;
}

.primera-nav{
  display: flex;
  gap: 1rem;
    height: 10%;
    justify-content: end;
height: 6.5%;

  margin: 1rem;
}


.primera-nav > button{
border-radius: 100%;
background-color: rgb(88, 86, 118);

}

.card2-container{
    
    width: 100%;
    height: 67.5%;
    display: flex;
    justify-content: start;
    flex-direction: column;

gap: 2.5rem;
}

.card2-container > h2 {
   
  padding-left: 14rem;
 font-size: 18px;
position: relative;
top:2rem
}

.ctn-c2{
  
    display: flex;
    justify-content: center;
    gap:2rem;
    
}

.ctn-c3{
  
    display: flex;
    justify-content: center;
    gap:2rem;
  
    height: 20%;
}