.container-card-2{
    
   font-weight: 200;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 26%;
    flex-direction: column;
    background-color: rgb(30, 33, 58);

}

.container-card-2 > h3{
    font-size: 15px;
    position: relative;
    top:1rem;
    font-weight: 200;
    
}


.container-card-2 > img {
    width: 50px ;
    
}

.Temperatura{gap:1rem;
    display:flex;
    font-size: 10px;
    
}