.ctn-progres{
    display: flex;
    flex-direction: column;
    
}

.ctn-progres > label:first-child {
    display: flex;
    font-size: 4px;
    font-weight: 40;
    gap: 4rem;
}


.ctn-progres > label:last-child{

 text-align: end;
 font-size: 10px;
}

#file{
    appearance: none;
    -webkit-appearance: none;

  height: 7px;

 
}


progress[value]::-webkit-progress-value {
    background-color: gold;
    
  }